* {
    background-color: #E7F6F2;
    font-family: inherit, Helvetica, sans-serif;
    color: #2C3333;
}

.header-one, .header-two {
    text-align: center;
    background: #395B64;
    padding: 8px;
    border: 2px #2C3333 solid;
    color: #E7F6F2;
    max-width: 800px;
    margin: 24px auto;
}

.list {
    display: block;
    padding: 8px;
    margin: 6px auto;
    max-width: 600px;
}

.image {
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul li {
    margin: 8px auto;
    border: 1px #2C3333 solid;
    padding: 8px;
    max-width: 600px;
}

ol li {
    margin: 12px auto;
    max-width: 800px;
}

p {
    max-width: 800px;
    margin: 0 auto;
    
}