* {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-one, .header-two {
    text-align: center;
    background: grey;
    padding: 8px;
    border: 2px black solid;
}

.list {
    display: block;
    padding: 8px;
    text-align: center;
    padding-right: 0px;
    margin-right: 60px;
}

.image {
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul li {
    margin-bottom: 8px;
    border: 2px black solid;
    padding: 8px;

}

ol li {
    margin-bottom: 12px;
}